main,
header,
footer {
  max-width: 740px;
  margin: 0 auto;
  /* background: #e8f1fa; */
  color: rgb(26, 25, 25);
  text-align: center;
}
.user_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* justify-content: center; */
  height: 800px;
  width: 600px;
  background: #ffffff;
  box-shadow: 0px 10px 37px rgba(0, 0, 0, 0.16);
  border-radius: 30px;

  /* position: absolute;
left: 6.67%;
right: 6.4%;
top: 9.98%;
bottom: 14.41%; */
}
.user_page__photo {
  width: 350px;
  height: 350px;
  border-radius: 40px 40px 0 0;
}
.start-button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.start-button:hover {
  background-color: #0056b3;
}

.recently-viewed-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}
.recently-viewed-item {
  margin-bottom: 10px;
}
.recently-viewed-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
